@import url(".config/wofi/colors.css");

#window {
    margin: 0px;
    border-radius: 13px;
    border: 1px solid @primary;
    background-color: alpha(@background,0.99);
    color: @on_background;
    font-family: "Maple Mono CN"
}

#input {
    margin: 10px;
    background-color: alpha(@secondary, 0.1);
    color: @on_background;
    border-radius: 10px;
    border: 1px solid @secondary;
}

#scroll {
    margin-bottom: 15px;
}

#entry {
    margin: 0px 10px;
}

#entry:selected {
    background-color: alpha(@primary, 0.99);
    border-radius: 10px;
    border: none;
    outline: none;
}

#text {
    font-weight: semibold;
}

#text:selected {
    color: @on_primary;
}

#entry > box {
    margin-left: 16px;
}


#entry image {
    padding-right: 10px;
}
